.search-form {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  margin-bottom: 32px;
}
.search-input {
  border-radius: 5%;
  margin-right: 8px;
}
.search-btn {
  border-radius: 5px;
  background-color: cornflowerblue;
}
.gallary {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-card {
  width: calc((100% - 48px) / 3);
}
